<!doctype html>
<html>
<head>
<title>Katrinebjerg Lan - {{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="header">
  <a href="/">
    <img src="/images/Banner4.png">
  </a>
</div>

<div class="navigation">
  <ul>
    <li><a href="/">Nyheder</a></li>
    <li><a href="/info">Information</a></li>
    <li><a href="/regler">Regler</a></li>
    <li><a href="/salg">Billetsalg</a></li>
    <li><a href="/plan">Tidsplan</a></li>
  </ul>
</div>

{{ page.content }}

</div>
</body>
</html>
